shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/77f429dc-63d3-48b9-ae06-0c5ae0e23c24.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/5382400e-1fac-410d-9f4f-25134e5f2206.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/cf5ec985-beb5-440c-81b2-0ccd6ae189a8.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/d9984c91-6a1c-4731-8096-6af748fe14ac.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/d9984c91-6a1c-4731-8096-6af748fe14ac.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/e536f83e-92d5-4b2e-9c88-a3ad62fd33f1.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/d9984c91-6a1c-4731-8096-6af748fe14ac.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/dc957a57-28da-4ea6-a2de-c02f0a99a808.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/759fc125-d846-46bc-9834-58e15682e152.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/78682fa8-efca-4162-8faf-128e35cfa514.vsidx
shopdesktopapp/.vs/Shop Desktop App/v17/.suo
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/143340fc-571f-4328-bffe-4b544879e8fe.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/143340fc-571f-4328-bffe-4b544879e8fe.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/143340fc-571f-4328-bffe-4b544879e8fe.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/a31707fe-af8b-4c3f-a8d7-c18a5bd8952e.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/b33f176b-7558-445f-b3e4-4b24098003c7.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/b760d652-f22a-4b58-880e-f471e3cb5976.vsidx
shopdesktopapp/.vs/Shop Desktop App/v17/.futdcache.v2
shopdesktopapp/.vs/Shop Desktop App/v17/.futdcache.v2
shopdesktopapp/.vs/Shop Desktop App/v17/.futdcache.v2
shopdesktopapp/.vs/Shop Desktop App/v17/.suo
shopdesktopapp/.vs/Shop Desktop App/v17/.suo
shopdesktopapp/Shop_Desktop_App/.vs/Shop_Desktop_App/FileContentIndex/4b64716c-bf6b-455b-8f60-b7c81c56c7c5.vsidx
shopdesktopapp/Shop_Desktop_App/.vs/Shop_Desktop_App/FileContentIndex/9bc7f9e8-e370-4c2e-8f99-fa64f01d396c.vsidx
shopdesktopapp/Shop_Desktop_App/.vs/Shop_Desktop_App/FileContentIndex/a9b81c70-4b08-4cfa-9eef-4fa447f6c783.vsidx
shopdesktopapp/Shop_Desktop_App/.vs/Shop_Desktop_App/v17/.suo
shopdesktopapp/Shop_Desktop_App/.vs/Shop_Desktop_App/FileContentIndex/a70fdae8-13b4-4e70-bc22-27469e8a1759.vsidx
