shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/77f429dc-63d3-48b9-ae06-0c5ae0e23c24.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/5382400e-1fac-410d-9f4f-25134e5f2206.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/cf5ec985-beb5-440c-81b2-0ccd6ae189a8.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/d9984c91-6a1c-4731-8096-6af748fe14ac.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/d9984c91-6a1c-4731-8096-6af748fe14ac.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/e536f83e-92d5-4b2e-9c88-a3ad62fd33f1.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/d9984c91-6a1c-4731-8096-6af748fe14ac.vsidx
shopdesktopapp/.vs/Shop Desktop App/FileContentIndex/dc957a57-28da-4ea6-a2de-c02f0a99a808.vsidx
