.hero-section {
    background-image: url('../Images/bak3.jpg');
    background-size: cover;
    background-position: center center;
    padding: 0 0; /* Adjust padding as needed */
    text-align: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    opacity: 0.9;
  }
  
  .hero-content {
    text-align: center;
    margin-left:0px;
    font-size: 6rem;
    margin-bottom: 120px;
    font-weight: bold;
  }
  
  .hero-content p{
    font-size: 3rem;
    padding: 30px;
    margin: 40px;
  }
  
  .hero-text {
    color: #333;
  }
  

  /* Items bar */
  .menu-container {
    margin: 20px auto;
    max-width: 2000px;
    padding: 10px;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
  }
  
  .menu-item {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .menu-item img {
    border-radius: 10px;
    max-width: 70%;
    height: 60%;
    margin-bottom: 0px;
    transition: transform 0.2s ease-in-out;
  }

  .menu-item:hover img {
    transform: scale(1.1); /* Increase size on hover */
  }
  
  .menu-item p {
    margin: 5px 0;
    font-size: 1.4rem;
  }

  .menu-container h1{
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  }

  
  .order-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
  }
  