.hero-section {
    background-image: url('../Images/bak5.jpg');
    background-size: cover;
    background-position: center center;
    padding: 0 0; /* Adjust padding as needed */
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    opacity: 0.9;
  }
  
  .hero-content {
    text-align: center;
    margin-left:1200px;
    font-size: 6rem;
    margin-bottom: 120px;
    font-weight: bold;
  }
  
  .hero-content p{
    font-size: 3rem;
  }
  
  .hero-text {
    color: #333;
  }
  
  .hero-button {
    background-color: #553769; /* Dark purple color */
    color: #ffffff;
    padding: 30px 120px;
    font-weight: bold;
    font-size: 1.4rem;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 550px;
    margin-right: 850px;
  }

  /* Items bar */
  .menu-container {
    margin: 20px auto;
    max-width: 2000px;
    padding: 20px;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
  }
  
  .menu-item {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .menu-item img {
    max-width: 70%;
    height: 60%;
    margin-bottom: 0px;
  }
  
  .menu-item p {
    margin: 5px 0;
  }
  
  .order-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  